@font-face {
  font-family: "Biryani Bold";
  src: url("../public/fonts/Biryani-Bold.woff2") format("woff2"),
    url("../public/fonts/Biryani-Bold.woff") format("woff"),
    url("../public/fonts/Biryani-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Biryani";
  src: url("../public/fonts/Biryani-Regular.woff2") format("woff2"),
    url("../public/fonts/Biryani-Regular.woff") format("woff"),
    url("../public/fonts/Biryani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #00ecde;
  --color-secondary: #04d282;
  --color-dark: #031e36;
  --color-light: #e0e8f0;
  --font-bold: "Biryani Bold", sans-serif;
  --font-standard: "Biryani", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-standard);
}

ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--font-bold);
}

.card-style {
  display: flex;
  width: auto;
  height: 60px;
  border: 2px solid gainsboro;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  color:var(--color-dark);
  border-radius: 10px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  /* width: fit-content;
  height: fit-content; */
  margin: 5px;
}
.card-text {
  margin: 0;
  color: var(--color-dark);
}
.card-img {
  height: 56px;
  width: auto;
  border-radius: 100%;
  border: 1px solid #00ecde;

}
.card-style:active {
  display: flex;
  width: auto;
  height: 62px;
  border: 2px solid #e0e8f0;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #04d282;
  opacity: 97%;
}

@media only screen and (max-width: 600px) {
  .card-style {
    height: 52px;
    font-size: 15px;
    padding: 10px;
  }
  .card-style:active {
    display: flex;
    width: auto;
    height: 55px;
    border: 2px solid #e0e8f0;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #04d282;
    opacity: 97%;
  
  }
  .card-img {
    height: 47px;
    width: auto;
    border-radius: 100%;
    border: 1px solid #00ecde;
  }

}
