@font-face {
  font-family: "Biryani Bold";
  src: url("../public/fonts/Biryani-Bold.woff2") format("woff2"),
    url("../public/fonts/Biryani-Bold.woff") format("woff"),
    url("../public/fonts/Biryani-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Biryani";
  src: url("../public/fonts/Biryani-Regular.woff2") format("woff2"),
    url("../public/fonts/Biryani-Regular.woff") format("woff"),
    url("../public/fonts/Biryani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #00ecde;
  --color-secondary: #04d282;
  --color-dark: #031e36;
  --color-light: #e0e8f0;
  --font-bold: "Biryani Bold", sans-serif;
  --font-standard: "Biryani", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-standard);
}

ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--font-bold);
}
